*{
  margin:0px;
  padding:0px;
  color:#ffffff;
  text-shadow:  0px 2px #333333
  }
#background {
  background:#000000 url(".browse/images/background.jpg") center bottom;
  overflow:hidden;
  }
#wallpaper {
  margin:auto;
  position: absolute;
  opacity: 0.7;
  width:100%;
  height:100%
  }
#cast {
  position:absolute;
  bottom:-32px;
  left:0;
  max-height:55%;
  opacity: 0.8;
  border-top:2px solid black;
  border-right:6px solid black;
  border-top-right-radius:24px;
  }
#logo {
  position:absolute;
  top:0;
  left:0;
  max-width:33%;
  max-height:128px;
  border-bottom-right-radius:24px;
  }
#layout{
  border-spacing:0;
  border-collapse:collapse;
  empty-cells:show;
  width:100%;
  height:100%;
  }
#interface {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
  }
#content{
  margin-left:16px;
  margin-right:-32px;
  height:100%;
  position:absolute;
  overflow:auto;
  }
.top{
  height:32px;
  max-height:128px;
  text-align:right;
  vertical-align:top;
  }
.mid{
  text-align:center;
  }
.toe{
  text-align:center;
  vertical-align:bottom;
  }
.left{
  width:1%;
  min-width:0px;
  }
.center{
  }
.right{
  width:1%;
  min-width:0px;
  }
#cell001{
  }
#cell002{
  background:#4F5F5F;
  border-bottom-right-radius:12px;
  border-bottom-left-radius:12px;
  }
#cell004{
  }
#cell008{
  }
#cell016{
  position:relative;
  vertical-align:top;
  }
#cell032{
  }
#cell064{
  }
#cell128{
  background:#4F5F5F;
  height:1px;
  padding:8px;
  border-top-right-radius:12px;
  border-top-left-radius:12px;
  }
#cell256{
  }

#mirror_switch{
  margin:4px;
  width:32px;
  height:32px
  }

.navi a {
  padding-left:8px;
  text-decoration:none;
  text-shadow: 0px 3px #333333;
  }

.folder{
  width:128px;
  height:128px;
  float:left;
  background:url(".browse/images/folder_background.png") no-repeat top center;
  text-align:center;
  padding-top:32px;
  }
.file{
  position:relative;
  width:192px;
  height:128px;
  float:left;
  background:url(".browse/images/file_background.png") no-repeat top center;
  text-align:center;
  border-radius:12px;
  opacity: 0.6;
  }
.image{
  opacity: 1;
  background:transparent;
  }
.image img{
  width:100%;
  height:100%;
  position:relative;
  opacity:1;
  }
.image select{
  width:75%
}
.switch{
  width:32px;
  height:32px;
  margin:4px;
  }
.item-bar{
  position:absolute;
  margin-top:-24px;
  width:100%;
  z-index:1;
  padding-top:-32px;
  background:#4F5F5F;
  }
.trash-can{
  float:right;
  height:24px;
  width:32px;
  position:relative;
  text-align:center
  }
.trash-can img{
  width:24px;
  height:100%;
  float:left;
}
.trash-can input{
  position:absolute;
  left:14px;
  width:24px;
  height:24px;
  background:transparent;
  border:0;
  }
#term{
  background:transparent;
  border:0px;
  width:50%;
  font-size:1em;
  height:32px;
  border-radius:8px;
  }
#count{
  background:#4F5F5F;
  border:0;
  vertical-align:middle;
  width:32px;
  height:24px;
  }
#menu input[type="submit"]{
  background:url(".browse/images/search-button.png") no-repeat center center transparent;
  border:0;
  width:32px;
  height:32px;  
  }
#submit_images {
  float:right;
  margin-top:-24px;
  background:transparent;
  border:0px;
  cursor:pointer;
}