*{
  margin:0;
  padding:0;
  color:white;
  text-shadow: 2 2 0.5
  }
html{
  width:100%;
  height:100%
  }
body{
  width:100%;
  height:100%;
  background:#8596A5 url('.browse/images/background_root.png') repeat-y;
  }
#layout{
  border-spacing:0;
  border-collapse:collapse;
  empty-cells:show;
  width:100%;
  height:100%;
  }
#interface {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%
  }
#content{
  margin:auto;
  height:88%;
  position:absolute;
  overflow:auto;
  }
#cell001{
  width:10%;
  height:10%;
}
#cell016{
  width:80%;
  position:relative;
  vertical-align:top;
  }
#cell128{
  vertical-align:top;
  text-align:center;
  text-shadow: 2px 2px #000000
}
#cell256{
  width:10%;
  height:5%;
}
#setup_switch{
  z-index:1;
  position:fixed;
  right:0;
  top:0;
  margin:4px;
  width:32px;
  height:32px
  }
.folder, .file{
  background:#556677;
  position:relative;
  float:left;
  text-align:center;
  width:18.1%;
  height:176px;
  margin:0px;
  border-radius:8px;
  border-top:2px solid silver;
  border-left:1px solid silver;
  border-right:3px solid #999999;
  border-bottom:5px solid #666666;
  padding:4px;
  }
.file{
  background:url(".browse/images/file_background.png");
  }
.folder img{
  width:100%;
  height:100%;
  }
.file img{
  width:75%;
  height:100%;
  }
